html, body {
    height: 100%;
}

.container-fluid{
    height: 100%;
}

.tile {
    fill: gold;
    stroke: darkblue;
    stroke-width: 0.5px;
}

.flag {
    stroke: black;
    stroke-width: 1px;
    fill: red;
}

text {
    text-anchor: middle;
    fill: black;
    stroke-width: 0;
    cursor: default;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}
