<!DOCTYPE html>

<html ng-app="hivesweeper" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hive Sweeper</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="directives.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <h1>Hive Sweeper</h1>

    <div id="content"></div>
    <div ng-controller="HiveController">
        <svg width="500" height="500">
            <g transform="translate(100, 100)">
                <g ng-repeat="tile in tiles" class="tile" ng-click="uncover(tile)" ng-right-click="tile.flag()" transform="translate({{tile.coords.x * 26 - tile.coords.y * 13}}, {{tile.coords.y * 22.5}})">
                    <polygon points="13,-7.5 13,7.5 0,15 -13,7.5 -13,-7.5 0,-15"></polygon>
                    <text ng-show="tile.uncovered" y="0.35em">{{tile.neighbouringMineCount}}</text>
                    <text ng-show="tile.flagged" y="0.35em">F</text>
                </g>
            </g>
        </svg>
    </div>
</body>
</html>
