<!DOCTYPE html>

<html ng-app="hivesweeper" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hive Sweeper</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="jquery-ui/jquery-ui.min.js"></script>
    <script src="directives.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css" />
</head>
<body>
    <div class="container-fluid">
        <h1>Hive Sweeper</h1>

        <div ng-controller="HiveController" style="height: 100%">
            <svg width="100%" height="90%">
                <g transform="{{transform.text()}}">
                    <g ng-repeat="tile in tiles" class="tile" ng-click="tile.uncover()" ng-right-click="tile.flag()" transform="translate({{tile.coords.x * 26 - tile.coords.y * 13}}, {{tile.coords.y * 22.5}})">
                        <polygon points="13,-7.5 13,7.5 0,15 -13,7.5 -13,-7.5 0,-15"></polygon>
                        <text ng-show="tile.uncovered" y="0.35em">{{tile.neighbouringMineCount}}</text>
                        <g class="flag" ng-show="tile.flagged" transform="scale(.4) translate(-25,-25)">
                            <path d="M10,10
                                     C20,5 40,15 50,10
                                     C40,20 20,10 12,20
                                     Z" />
                            <path d="M12,20
                                     L18,50" />
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</body>
</html>
